.product{
    padding: 1rem 0.8rem;
}


select{
background-color: #4d869c;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    border:  none;
    cursor: pointer;
    font-weight: 700;
}
select option{
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 15px;
    border-radius: 18px;
    cursor: pointer;
}

article{
    display: flex;
    justify-content: space-between;
}