
form{
    margin-bottom: 2rem;
    width: 300px;
}
label{
    font-weight: 700;
    text-transform: uppercase;
}
form input{
    margin-top: 0.4rem;
    height: 30px;
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    margin: auto;
}
form input.error{
    border: 3px solid #4d869c;
}

form article{
   display: flex;
   flex-direction: column;
}
form button{
    background-color: #4d869c;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 4px;
    width: 200px;
    margin: auto;
}

@media(max-width:600px){
    form{
        width: 100%;
    }
}