.gridsection{
    background-color: white;
    margin-top: 2rem;
    padding:1.5rem 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 0.9rem;
    animation: light 2s both;
}

@keyframes light{
   0%{opacity: 0; }
   100%{opacity: 1; }
}
.animate{
    animation: light 3s both;
}


.productDiv{
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px 2px grey;
    animation: light 3s both;
    width: 100%;
}
.productDescription{
    font-size: 15px;
    margin-bottom: 5px;
}
.pricebtn{
    border: none;
    background-color: #4d869c;
    color: white;
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
}
img{
    mix-blend-mode: multiply;
    width:100px;
    height:100px;
    /* width: 10%; */
    margin-bottom: 10px;
}
.price{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}
.oldprice{
    text-decoration: line-through;
}
article{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 0.5rem;
}
.off{
    background-color: #4d869c;
    /* width: fit-content; */
    margin-bottom: 1rem;
    padding: 4px;
    border-radius: 50%;
    color:white;
}

@media(max-width:830px){
    .grid-section{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media(max-width:700px) {
      .gridsection{
          grid-template-columns: repeat(3, 1fr);
          padding:1rem 0.8rem;
      }
  }
  
  @media(max-width:600px) {
      .gridsection{
          grid-template-columns: repeat(2, 1fr);
      }
  }
  @media(max-width:350px) {
      .gridsection{
          grid-template-columns: repeat(1, 1fr);
          margin: auto;
          text-align: center;
      }
      .productDiv{
          margin-bottom: 2rem;
          text-align: center;
      }
  }
  
  
  @media(max-width:400px){
      .gridsection{
          grid-template-columns: repeat(1, 1fr);
      }
  }
  
  
  